03_K-KAI-03_ORCHESTRATION/K-KAI-WF_WORKFLOW/K-KAI-WF-n8n/K-KAI-WF-n8n-001_security_triage.json
{
  "name": "Kubric Security Alert Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kubric-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "kubric-alert-ingest"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{ $json.body.metadata.tenant_id }}"
            },
            {
              "name": "class_uid",
              "value": "={{ $json.body.class_uid }}"
            },
            {
              "name": "src_ip",
              "value": "={{ $json.body.src_endpoint.ip }}"
            },
            {
              "name": "alert_id",
              "value": "={{ $json.body.metadata.uid }}"
            }
          ],
          "number": [
            {
              "name": "severity_id",
              "value": "={{ $json.body.severity_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-extract-fields",
      "name": "Extract Alert Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.severity_id }}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "id": "if-severity-check",
      "name": "High/Critical Severity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAI_API_URL }}/agents/triage/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ alert_id: $json.alert_id, tenant_id: $json.tenant_id, class_uid: $json.class_uid, severity_id: $json.severity_id, src_ip: $json.src_ip, priority: 'high', raw_alert: $('Webhook').item.json.body }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-immediate-response",
      "name": "Immediate Response Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAI_API_URL }}/agents/triage/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ alert_id: $json.alert_id, tenant_id: $json.tenant_id, class_uid: $json.class_uid, severity_id: $json.severity_id, src_ip: $json.src_ip, priority: 'standard', raw_alert: $('Webhook').item.json.body }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-standard-triage",
      "name": "Standard Triage Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 420]
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "id": "merge-branches",
      "name": "Merge Triage Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOC_URL }}/detection/incidents/{{ $('Extract Alert Fields').item.json.alert_id }}/dispatch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ incident_id: $('Extract Alert Fields').item.json.alert_id, tenant_id: $('Extract Alert Fields').item.json.tenant_id, triage_result: $json, dispatched_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-dispatch-noc",
      "name": "Dispatch to NOC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'triaged', incident_id: $('Extract Alert Fields').item.json.alert_id, tenant_id: $('Extract Alert Fields').item.json.tenant_id, severity_id: $('Extract Alert Fields').item.json.severity_id, dispatched_at: new Date().toISOString() }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Alert Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Alert Fields": {
      "main": [
        [
          {
            "node": "High/Critical Severity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High/Critical Severity?": {
      "main": [
        [
          {
            "node": "Immediate Response Trigger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Triage Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Immediate Response Trigger": {
      "main": [
        [
          {
            "node": "Merge Triage Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard Triage Trigger": {
      "main": [
        [
          {
            "node": "Merge Triage Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triage Branches": {
      "main": [
        [
          {
            "node": "Dispatch to NOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch to NOC": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "UTC"
  },
  "staticData": null,
  "tags": [
    {
      "name": "kubric",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "security",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "triage",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "kubric-security-alert-triage-v1",
  "meta": {
    "instanceId": "kubric-n8n-instance"
  }
}
