03_K-KAI-03_ORCHESTRATION/K-KAI-WF_WORKFLOW/K-KAI-WF-n8n/K-KAI-WF-n8n-003_heartbeat_billing.json
{
  "name": "Kubric Monthly Billing Heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "schedule-trigger-billing",
      "name": "1st of Month 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [220, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_URL }}/tenants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "queryParametersJson": "={\"status\": \"active\", \"page_size\": 1000}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-list-tenants",
      "name": "List Active Tenants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [440, 360]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst response = items[0].json;\n\nconst now = new Date();\nconst billingMonth = now.getMonth() === 0\n  ? `${now.getFullYear() - 1}-12`\n  : `${now.getFullYear()}-${String(now.getMonth()).padStart(2, '0')}`;\n\nlet tenants = Array.isArray(response) ? response\n  : (response.tenants || response.data || response.items || []);\n\nconst activeTenants = tenants.filter(t =>\n  (t.status || '').toLowerCase() === 'active'\n  || (t.active === true)\n  || (t.enabled === true)\n);\n\nreturn activeTenants.map(tenant => ({\n  json: {\n    tenant_id: tenant.tenant_id || tenant.id,\n    tenant_name: tenant.name || tenant.tenant_name,\n    contact_email: tenant.billing_email || tenant.contact_email || tenant.email,\n    plan: tenant.plan || tenant.subscription_plan || 'standard',\n    billing_month: billingMonth,\n    currency: tenant.currency || 'USD'\n  }\n}));"
      },
      "id": "code-extract-tenants",
      "name": "Extract Tenant List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [660, 360]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-tenants",
      "name": "Process Each Tenant",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [880, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAI_API_URL }}/agents/billing/calculate_bill",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.KAI_API_TOKEN }}"
            },
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ tenant_id: $json.tenant_id, tenant_name: $json.tenant_name, billing_month: $json.billing_month, plan: $json.plan, currency: $json.currency, calculate_usage: true }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-calculate-bill",
      "name": "Calculate Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 360]
    },
    {
      "parameters": {
        "functionCode": "const billingResult = $input.item.json;\nconst tenantData = $('Process Each Tenant').item.json;\n\nconst lineItems = billingResult.line_items || billingResult.items || [];\nconst subtotal = billingResult.subtotal || billingResult.amount || 0;\nconst tax = billingResult.tax || (subtotal * 0.1);\nconst total = billingResult.total || (subtotal + tax);\n\nreturn [{\n  json: {\n    tenant_id: tenantData.tenant_id,\n    tenant_name: tenantData.tenant_name,\n    contact_email: tenantData.contact_email,\n    billing_month: tenantData.billing_month,\n    plan: tenantData.plan,\n    currency: tenantData.currency,\n    line_items: lineItems,\n    subtotal: Math.round(subtotal * 100) / 100,\n    tax: Math.round(tax * 100) / 100,\n    total: Math.round(total * 100) / 100,\n    invoice_date: new Date().toISOString(),\n    due_date: new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString(),\n    status: 'pending',\n    raw_calculation: billingResult\n  }\n}];"
      },
      "id": "code-format-bill",
      "name": "Format Invoice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1320, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_URL }}/billing/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-store-invoice",
      "name": "Store Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1540, 360]
    },
    {
      "parameters": {
        "fromEmail": "billing@kubric.io",
        "toEmail": "={{ $('Format Invoice').item.json.contact_email }}",
        "subject": "Kubric Invoice — {{ $('Format Invoice').item.json.billing_month }} — {{ $('Format Invoice').item.json.tenant_name }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"/><title>Kubric Invoice</title><style>body{font-family:Arial,sans-serif;color:#222;max-width:600px;margin:0 auto;padding:20px}h1{color:#1a1a2e}table{width:100%;border-collapse:collapse;margin:20px 0}th,td{padding:10px;border:1px solid #ddd;text-align:left}th{background:#f5f5f5}.total-row{font-weight:bold;background:#e8f4f8}.footer{margin-top:30px;font-size:12px;color:#666}</style></head><body><h1>Kubric Security Platform Invoice</h1><p>Dear {{ $('Format Invoice').item.json.tenant_name }},</p><p>Please find your invoice for <strong>{{ $('Format Invoice').item.json.billing_month }}</strong> below.</p><table><thead><tr><th>Description</th><th>Amount ({{ $('Format Invoice').item.json.currency }})</th></tr></thead><tbody>{{ $('Format Invoice').item.json.line_items.map(item => `<tr><td>${item.description || item.name || 'Service'}</td><td>${(item.amount || 0).toFixed(2)}</td></tr>`).join('') }}<tr><td>Subtotal</td><td>{{ $('Format Invoice').item.json.subtotal.toFixed(2) }}</td></tr><tr><td>Tax</td><td>{{ $('Format Invoice').item.json.tax.toFixed(2) }}</td></tr><tr class=\"total-row\"><td>Total Due</td><td>{{ $('Format Invoice').item.json.total.toFixed(2) }} {{ $('Format Invoice').item.json.currency }}</td></tr></tbody></table><p>Payment due: {{ new Date($('Format Invoice').item.json.due_date).toLocaleDateString('en-US', {year:'numeric',month:'long',day:'numeric'}) }}</p><p>Invoice ID: {{ $json.id || $json.invoice_id || 'Pending' }}</p><div class=\"footer\"><p>Kubric AI Security Platform | billing@kubric.io</p><p>If you have questions about this invoice, please contact your account manager.</p></div></body></html>",
        "options": {}
      },
      "id": "gmail-send-invoice",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1760, 360],
      "credentials": {
        "gmailOAuth2": {
          "id": "kubric-gmail-oauth",
          "name": "Kubric Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const allItems = $input.all();\n\nconst now = new Date();\nconst billingMonth = allItems[0]?.json?.billing_month || `${now.getFullYear()}-${String(now.getMonth()).padStart(2,'0')}`;\n\nlet totalRevenue = 0;\nlet invoiceCount = 0;\nconst tenantSummaries = [];\nconst failedTenants = [];\n\nfor (const item of allItems) {\n  const invoice = $('Format Invoice').all().find(\n    i => i.json.tenant_id === item.json.tenant_id\n  )?.json;\n\n  if (invoice) {\n    totalRevenue += invoice.total || 0;\n    invoiceCount++;\n    tenantSummaries.push({\n      tenant_id: invoice.tenant_id,\n      tenant_name: invoice.tenant_name,\n      plan: invoice.plan,\n      total: invoice.total,\n      currency: invoice.currency,\n      email_sent: item.json.id !== undefined\n    });\n  } else {\n    failedTenants.push({\n      tenant_id: item.json.tenant_id || 'unknown',\n      reason: 'invoice_not_found'\n    });\n  }\n}\n\nreturn [{\n  json: {\n    report_type: 'monthly_billing_summary',\n    billing_month: billingMonth,\n    generated_at: new Date().toISOString(),\n    total_invoices: invoiceCount,\n    total_revenue: Math.round(totalRevenue * 100) / 100,\n    currency: 'USD',\n    failed_tenants: failedTenants,\n    tenant_summaries: tenantSummaries\n  }\n}];"
      },
      "id": "code-aggregate-billing",
      "name": "Aggregate Billing Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1980, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOC_URL }}/api/reports/billing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.NOC_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-post-monthly-summary",
      "name": "Post Monthly Summary to NOC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2200, 360]
    }
  ],
  "connections": {
    "1st of Month 09:00": {
      "main": [
        [
          {
            "node": "List Active Tenants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Active Tenants": {
      "main": [
        [
          {
            "node": "Extract Tenant List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tenant List": {
      "main": [
        [
          {
            "node": "Process Each Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Tenant": {
      "main": [
        [
          {
            "node": "Calculate Bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Bill": {
      "main": [
        [
          {
            "node": "Format Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Invoice": {
      "main": [
        [
          {
            "node": "Store Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Invoice": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Process Each Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Billing Results": {
      "main": [
        [
          {
            "node": "Post Monthly Summary to NOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "UTC"
  },
  "staticData": null,
  "tags": [
    {
      "name": "kubric",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "billing",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "heartbeat",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "kubric-monthly-billing-heartbeat-v1",
  "meta": {
    "instanceId": "kubric-n8n-instance"
  }
}
