03_K-KAI-03_ORCHESTRATION/K-KAI-WF_WORKFLOW/K-KAI-WF-n8n/K-KAI-WF-n8n-002_drift_housekeeper.json
{
  "name": "Kubric Config Drift Housekeeper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NOC_URL }}/api/clusters/drift",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.NOC_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-get-drift-events",
      "name": "Get Drift Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nconst driftEvents = items[0].json;\n\nconst severityRank = { low: 1, medium: 2, high: 3, critical: 4 };\n\nlet events = Array.isArray(driftEvents) ? driftEvents\n  : (driftEvents.events || driftEvents.data || driftEvents.items || []);\n\nconst filtered = events.filter(event => {\n  const sev = (event.severity || event.severity_level || 'low').toLowerCase();\n  return (severityRank[sev] || 0) >= severityRank['medium'];\n});\n\nif (filtered.length === 0) {\n  return [];\n}\n\nreturn filtered.map(event => ({\n  json: {\n    drift_id: event.drift_id || event.id,\n    cluster_id: event.cluster_id || event.cluster,\n    tenant_id: event.tenant_id || event.tenant,\n    resource_kind: event.resource_kind || event.kind,\n    resource_name: event.resource_name || event.name,\n    namespace: event.namespace || 'default',\n    severity: (event.severity || event.severity_level || 'medium').toLowerCase(),\n    drift_type: event.drift_type || event.type || 'config_drift',\n    detected_at: event.detected_at || event.created_at || new Date().toISOString(),\n    expected_state: event.expected_state || {},\n    actual_state: event.actual_state || {}\n  }\n}));"
      },
      "id": "code-filter-drift",
      "name": "Filter Medium+ Severity Drift",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Process Each Drift Event",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAI_API_URL }}/agents/house/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Tenant-ID",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.KAI_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ drift_id: $json.drift_id, cluster_id: $json.cluster_id, tenant_id: $json.tenant_id, resource_kind: $json.resource_kind, resource_name: $json.resource_name, namespace: $json.namespace, severity: $json.severity, drift_type: $json.drift_type, detected_at: $json.detected_at, expected_state: $json.expected_state, actual_state: $json.actual_state, triggered_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-trigger-remediation",
      "name": "Trigger KAI Remediation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success === true || $json.status === 'ok' || $json.status === 'success' || $json.remediated === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-remediation-success",
      "name": "Remediation Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOC_URL }}/api/audit/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.NOC_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ event_type: 'drift_remediated', drift_id: $('Process Each Drift Event').item.json.drift_id, cluster_id: $('Process Each Drift Event').item.json.cluster_id, tenant_id: $('Process Each Drift Event').item.json.tenant_id, resource_kind: $('Process Each Drift Event').item.json.resource_kind, resource_name: $('Process Each Drift Event').item.json.resource_name, namespace: $('Process Each Drift Event').item.json.namespace, severity: $('Process Each Drift Event').item.json.severity, remediation_result: $('Trigger KAI Remediation').item.json, remediated_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-audit-remediated",
      "name": "Audit: Drift Remediated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOC_URL }}/api/alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.NOC_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ alert_type: 'drift_remediation_failed', title: 'Config drift remediation failed — manual review required', drift_id: $('Process Each Drift Event').item.json.drift_id, cluster_id: $('Process Each Drift Event').item.json.cluster_id, tenant_id: $('Process Each Drift Event').item.json.tenant_id, resource_kind: $('Process Each Drift Event').item.json.resource_kind, resource_name: $('Process Each Drift Event').item.json.resource_name, namespace: $('Process Each Drift Event').item.json.namespace, severity: $('Process Each Drift Event').item.json.severity, remediation_response: $('Trigger KAI Remediation').item.json, failed_at: new Date().toISOString(), requires_manual_review: true }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-alert-manual-review",
      "name": "Alert: Manual Review Required",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 420]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get Drift Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drift Events": {
      "main": [
        [
          {
            "node": "Filter Medium+ Severity Drift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Medium+ Severity Drift": {
      "main": [
        [
          {
            "node": "Process Each Drift Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Drift Event": {
      "main": [
        [
          {
            "node": "Trigger KAI Remediation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger KAI Remediation": {
      "main": [
        [
          {
            "node": "Remediation Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remediation Succeeded?": {
      "main": [
        [
          {
            "node": "Audit: Drift Remediated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: Manual Review Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit: Drift Remediated": {
      "main": [
        [
          {
            "node": "Process Each Drift Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert: Manual Review Required": {
      "main": [
        [
          {
            "node": "Process Each Drift Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "UTC"
  },
  "staticData": null,
  "tags": [
    {
      "name": "kubric",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "drift",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "housekeeper",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "kubric-config-drift-housekeeper-v1",
  "meta": {
    "instanceId": "kubric-n8n-instance"
  }
}
