config/n8n/workflows/drift-to-housekeeper.json
{
  "id": "kubric-drift-to-housekeeper",
  "name": "Kubric — Drift Detection → Housekeeper",
  "active": true,
  "versionId": "a1b2c3d4-0002-0002-0002-000000000002",
  "meta": { "instanceId": "kubric-dev" },
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "n1",
      "name": "Cron — Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      }
    },
    {
      "id": "n2",
      "name": "KAI — Get Drift Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "=http://kai:8100/v1/insights/{{ $env.DEFAULT_TENANT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Kubric-Tenant-Id", "value": "={{ $env.DEFAULT_TENANT }}" }
          ]
        }
      }
    },
    {
      "id": "n3",
      "name": "If — Has Findings",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.top_risks?.length ?? 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "n4",
      "name": "KAI — Submit Remediation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 200],
      "parameters": {
        "method": "POST",
        "url": "http://kai:8100/v1/remediate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Kubric-Tenant-Id", "value": "={{ $env.DEFAULT_TENANT }}" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ finding_id: 'drift-' + Date.now(), tenant_id: $env.DEFAULT_TENANT ?? '', finding: { top_risks: $json.top_risks, recommended_actions: $json.recommended_actions }, auto_apply: false }) }}"
      }
    },
    {
      "id": "n5",
      "name": "No-op — No Drift",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Cron — Every 15 min": {
      "main": [
        [{ "node": "KAI — Get Drift Insights", "type": "main", "index": 0 }]
      ]
    },
    "KAI — Get Drift Insights": {
      "main": [
        [{ "node": "If — Has Findings", "type": "main", "index": 0 }]
      ]
    },
    "If — Has Findings": {
      "main": [
        [{ "node": "KAI — Submit Remediation", "type": "main", "index": 0 }],
        [{ "node": "No-op — No Drift", "type": "main", "index": 0 }]
      ]
    }
  }
}
